
EnotecaIlGocciolatoioIS/target/test-classes/TestSuite.class
EnotecaIlGocciolatoioIS/target/test-classes/TestSuite.class
.idea/artifacts/unnamed.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/GocciolatoioWeb.iml
.idea/misc.xml
.idea/modules.xml
EnotecaIlGocciolatoioIS/target/test-classes/testUnita/TestUtente.class
EnotecaIlGocciolatoioIS/target/test-classes/testUnita/TestUtente.class
EnotecaIlGocciolatoioIS/out/artifacts/EnotecaIlGocciolatoio_war_exploded/WEB-INF/classes/connectionPool/ConPool.class
*.class
EnotecaIlGocciolatoioIS/out/artifacts/EnotecaIlGocciolatoio_war_exploded/WEB-INF/classes/connectionPool/ConPool.class
